.demo{
overflow: hidden;
position: relative;  
}
.buttons{
overflow: hidden;  
}
.cursor {
background-image: url(../img/cursor.svg);
width: 36px;
height: 40px;
background-size: contain;
background-repeat: no-repeat;
opacity: 0;
pointer-events: none;
position: absolute;
}
.demo [data-host]{
padding: 25px;
border: 3px solid black;
display: inline-block;
background: #eee;
text-align: center;
position: relative;
float: left;
margin: 0 .5rem .5rem 0;
}
.demo .blue {
background: steelblue;
color: white;
display: inline-block;
}
.demo div {
padding: 5px;
border-radius: 3px;
margin-bottom: 5px;
}
.demo output {
background: #eee;
height: 150px;
overflow: auto;
padding: 10px;
display: block;
clear: both;
}

@-webkit-keyframes animation1 {
  from {
    opacity: 1;
    -webkit-transform: translate3d(70px, -40px, 0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate3d(70px, 280px, 0);
  }
  to {
    -webkit-transform: translate3d(70px, 280px, 0);
  }
}

@-webkit-keyframes animation2 {
  from {
    opacity: 1;
    -webkit-transform: translate3d(240px, -40px, 0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate3d(240px, 280px, 0);
  }
  to {
    -webkit-transform: translate3d(240px, 280px, 0);
  }
}

@-webkit-keyframes animation3 {
  from {
    opacity: 1;
    -webkit-transform: translate3d(240px, -40px, 0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate3d(240px, 128px, 0);
  }
  91% {
    opacity: 1;
    -webkit-transform: translate3d(240px, 128px, 0) rotateX(30deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(240px, 128px, 0);
  }
}



@keyframes animation1 {
  from {
    opacity: 1;
    -webkit-transform: translate3d(70px, -40px, 0);
    transform: translate3d(70px, -40px, 0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate3d(70px, 280px, 0);
    transform: translate3d(70px, 280px, 0);
  }
  to {
    -webkit-transform: translate3d(70px, 280px, 0);
    transform: translate3d(70px, 280px, 0);
  }
}

@keyframes animation2 {
  from {
    opacity: 1;
    -webkit-transform: translate3d(240px, -40px, 0);
    transform: translate3d(240px, -40px, 0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate3d(240px, 280px, 0);
    transform: translate3d(240px, 280px, 0);
  }
  to {
    -webkit-transform: translate3d(240px, 280px, 0);
    transform: translate3d(240px, 280px, 0);
  }
}

@keyframes animation3 {
  from {
    opacity: 1;
    -webkit-transform: translate3d(240px, -40px, 0);
    transform: translate3d(240px, -40px, 0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate3d(240px, 128px, 0);
    transform: translate3d(240px, 128px, 0);
  }
  91% {
    opacity: 1;
    -webkit-transform: translate3d(240px, 128px, 0) rotateX(30deg);
    transform: translate3d(240px, 128px, 0) rotateX(30deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(240px, 128px, 0);
    transform: translate3d(240px, 128px, 0);
  }
}

#example5 [data-host]:before {
top: 3px;
left: 3px;
position: absolute;
content: '<div data-host>';
color: #888;
font-size: 13px;
line-height: 16px;
}

#example5 div {
padding: 5px;
border-radius: 3px;
margin-bottom: 5px;
}

#example5.playing.animation1 .cursor {
  -webkit-animation: animation1 5s;
  animation: animation1 5s;
}
#example5.playing.animation2 .cursor {
  -webkit-animation: animation2 5s;
  animation: animation2 5s;
}
#example5.playing.animation3 .cursor {
  -webkit-animation: animation3 5s;
  animation: animation3 5s;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
